.ParentCard{
    border:solid 1px rgb(230, 230, 202);
    width: 250px;
    text-align: center;
    padding: 20px;
   
    margin:20px auto 5px;
   
    img{
        width: 100px;
    }
    h2{
        font-size: 15px;
        margin-top: 15px;
        font-weight: bold;
    }
    div{
        display: flex;
        text-align: center;
        justify-content: space-between;
        margin-top: 40px;
        h5{
            color: red;
        }
        button{
            background-color: red;
            color: white;
        }
        
    }
}