.ParentCustomerPart{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    h6{
        color: red;
        padding-bottom: 10px;
        font-weight: bold;
    }
    h1{
        font-weight: bold;
    }
    span{
        color: red;
    }
    p{
         color: rgb(130, 129, 129);
    margin-top: 30px;
    }
    .person{
        display: flex;
        margin-top: 40px;
        align-items: center;
        img{
            border-radius: 5px;
        }
        h5{
            margin-left: 5px;
            font-size: 15px;
            font-weight: bold;
            
        }
    }
}